/* header section */

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.header {
    background-image: url('assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 700px;
}

.secondary-bg {
    background-color: #FFFFFF;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

.text-primary {
    color: #4E47FF;
}

.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}

button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.section-title {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

.text-center {
    text-align: center;
}

.stay {
    margin-top: 50px;
    margin-bottom: 150px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* Action section start */
.banner {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 306px;
    gap: 0 auto;
}

.banner-content {
    margin-right: 120px;
}

.banner-title {
    font-weight: bold;
    font-size: 42px;
}

.banner-description {
    font-size: 24px;
    color: #252432;
}

.banner-profile-pic {
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* productive users section start */
.about {
    border-radius: 24px;
    padding: 130px 150px;
    text-align: center;
}

.bground-color {
    background-color: #F1F1FE;
}

.title {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-title {
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}

.item-description {
    font-weight: 500;
    font-size: 20px;
    color: #757575;
}

/* Users feedback Section Start */
.head {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.feedback-container {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.feedback-card {
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 30px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.feedback-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.feedback-description {
    color: #757575;
    margin-bottom: 20px;
}

.reviewer-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.reviewer-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.reviewer-name {
    font-weight: 600;
}

.reviewer-date {
    color: #757575;
    font-size: 14px;
}

/* Ready to focus better section start */
.focus-section {
    text-align: center;
    padding: 80px 0;
    border-radius: 14px;
}

.focus-title {
    font-size: 52px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 5px;
    padding: 20px 40px;
    display: inline-block;
    border-radius: 10px;
}

.focus-description {
    font-size: 18px;
    color: #8987A1;
    margin-top: 0px; 
    margin-bottom: 40px;
}

.focus-button {
    margin-bottom: 60px;
}

.pic-container {
    max-width: 800px;
    margin: 0 auto;
}

.pic-image {
    width: 100%;
    height: auto;
    border-radius: 48px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
}

/* Let's Get in Touch */

.contact-section {
    background-color: #f1f4ff;
    padding: 100px 140px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.contact-text h1 {
    font-size: 64px;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.contact-form label {
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    height: 50px;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    background-color: white;
}

.contact-form textarea {
    height: 100px;
    resize: none;
}

.contact-form button {
    padding: 14px;
    background-color: #4e47ff;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}



